﻿@font-face {
    font-family: Roboto-Bold;
    src: url(../css/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../css/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url(../css/fonts/RobotoCondensed-Bold.ttf);
}

/*----------color-----------*/
$blue: #153a67;
$red: #e31e24;
$spancap: #c4c4c4;
$grey: #b4b4b4;

/*----------font-----------*/
$font-stack-1: Roboto-Bold;
$font-stack-2: Roboto-Light;
$font-stack-3: RobotoCondensed-Bold;

/*----------size-----------*/
$size-big: 40px;
$size-med: 20px;
$size-nor: 18px;
$size-small: 15px;
$size-tin: 14px;
$size-suti: 12px;


@mixin title() {
    text-transform: uppercase;
    color: $blue;

    font: {
        size: $size-big;
        family: $font-stack-3;
    }
}

@mixin hr {
    margin: 3px auto;
    border-bottom: 2px solid $spancap;
}

@mixin hrspan() {
    padding: 7px;
    font-size: $size-med;
    position: absolute;
    color: $spancap;
    background: white;
}

@mixin des() {
    font: {
        size: $size-small;
        family: $font-stack-2;
    }
}

@mixin dots(){
    width: 10px;
    height: 10px;
}

hr {
    width: 200px;
    margin-bottom: 0px;
}

/*--------Giới thiệu---------*/

#intro {
    text-align: center;
    margin: auto;
    position: relative;

    img {
        width: 100%;
    }

    p {
        margin: 20px 0 35px 0;
        @include des();
    }

    h2 {
        @include title();
    }

    hr {
        @include hr();
    }

    span {
        left: 49%;
        top: 6%;
        @include hrspan();
    }

    .title {
        margin: 40px auto 0 auto;

        a {
            font : {
                size: $size-nor;
                family: $font-stack-1;
            }
             color: $blue;
             text-decoration: none;
                
         }

        button {
            color: $blue;
            background: white;
            outline: none;
            border: 1px solid $blue;
            padding: 10px 15px;
            border-radius: 3px;
            text-transform: uppercase;
            margin-top: 25px;
        }
    }

}

@media only screen and (max-width: 760px) {
    #intro {
        .title {
            margin-bottom: 20px !important;
        }

        span {
            top: 8%;
            left: 45%;
        }
    }
}
/*---------Thành tựu----------*/
#our-achiev {
    position: relative;
    margin-top: 80px;
    text-align: center;

    background: {
        image: url("../img/banner.jpg");
        position: center;
        repeat: no-repeat;
        size: cover;
    }

    hr {
        width: 50%;
        border-top: 2px solid $red;
    }

    .content {
        background-color: black;
        opacity: 0.8;

        h2 {
            @include title();
            color: white !important;
            padding-top: 58px;
        }

        p {
            @include des();
            color: white
        }

        .number {
            display: flex;

            p {
                margin-top: 95px;
                margin-left: 20px;
            }
        }
    }
}
/*---------Đội ngũ----------*/
#team-teacher {
    padding-bottom: 40px;
    position: relative;

    h2 {
        text-align: center;
        padding-top: 60px;
        @include title();
    }

    hr {
        @include hr();
    }

    span {
        @include hrspan();
        left: 49%;
        top: 16%;
    }

    .slide-info {
        display: flex;
        margin: 40px auto;

        .info-content {
            position: absolute;
            top: 79%;
            border-top: 3px solid;
            background: #f5f5f5;
            padding: 10px 70px 0 15px;
        }
    }

    .info-person {
        position: relative;
    }

    .info-content__hover {
        display: none;

        h5 {
            @include des();
            color: white;
        }

        p.color {
            color: #3f6da6;

            font: {
                size: $size-suti;
                family: $font-stack-2;
            }
        }

        p {
            font: {
                size: $size-tin;
                family: $font-stack-2;
            }

            color: white;
        }
    }

    .info-content {
        h5 {
            white-space: nowrap;

            font: {
                size: $size-small;
                family: $font-stack-1;
            }
        }

        p {
            font: {
                size: $size-tin;
                family: $font-stack-2;
            }

            color: $grey;
            padding-left: 0;
        }
    }

    .info-person {
        &:hover {
            .info-content__hover {
                display: block;
                position: absolute;
                top: 49%;
                background: #203c6b;
                color: #fff;
                opacity: 0.9;
                padding: 10px;
                width: 241px;
            }

            .info-content {
                display: none;
            }
        }
    }

    .slick-dots {
        bottom: -38px !important;

        li {
            @include dots();
            button {
                @include dots();
                &:before {
                    font-size: 30px !important;
                    color: $grey !important;
                    background: $grey;
                    @include dots();
                }
            }
        }

        li.slick-active {
            button {
                &:before {
                    background: $red;
                    color: $red !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    #team-teacher {
        span {
            left: 45%;
            top: 22%;
        }
    }
}

@media only screen and (min-width: 760px) {
    #team-teacher {
        .slide-info {
            width: 1170px;
        }
    }
}
/*------Tin tức------*/
#news__foot {
    position: relative;
    margin-bottom: 20px;

    h2 {
        text-align: center;
        margin-bottom: 15px;
        @include title();
    }

    hr {
        @include hr();
    }

    span {
        @include hrspan();
        left: 49%;
        top: 11%;
    }

    img {
        padding-top: 10px;
        width: 100%;
    }

    .container {
        margin-top: 30px;
    }

    .news-box {
        height:300px;
        &:hover {
            transition: transform 3s;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

            h5 {
                color: $red;
            }
        }
    }

    .content {
        h5 {
            font: {
                size: 16px;
                family: Roboto-Bold;
            }
        }

        p {
            @include des();
        }
    }
}
@media only screen and (max-width: 760px) {
    #news__foot{ 
        span {
            left: 45%;
            top: 4%;
        }
    }
}

