@charset "UTF-8";
@font-face {
  font-family: Roboto-Bold;
  src: url(../css/fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: Roboto-Light;
  src: url(../css/fonts/Roboto-Light.ttf); }
@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(../css/fonts/RobotoCondensed-Bold.ttf); }
/*----------color-----------*/
/*----------font-----------*/
/*----------size-----------*/
hr {
  width: 200px;
  margin-bottom: 0px; }

/*--------Giới thiệu---------*/
#intro {
  text-align: center;
  margin: auto;
  position: relative; }
  #intro img {
    width: 100%; }
  #intro p {
    margin: 20px 0 35px 0;
    font-size: 15px;
    font-family: Roboto-Light; }
  #intro h2 {
    text-transform: uppercase;
    color: #153a67;
    font-size: 40px;
    font-family: RobotoCondensed-Bold; }
  #intro hr {
    margin: 3px auto;
    border-bottom: 2px solid #c4c4c4; }
  #intro span {
    left: 49%;
    top: 6%;
    padding: 7px;
    font-size: 20px;
    position: absolute;
    color: #c4c4c4;
    background: white; }
  #intro .title {
    margin: 40px auto 0 auto; }
    #intro .title a {
      font-size: 18px;
      font-family: Roboto-Bold;
      color: #153a67;
      text-decoration: none; }
    #intro .title button {
      color: #153a67;
      background: white;
      outline: none;
      border: 1px solid #153a67;
      padding: 10px 15px;
      border-radius: 3px;
      text-transform: uppercase;
      margin-top: 25px; }

@media only screen and (max-width: 760px) {
  #intro .title {
    margin-bottom: 20px !important; }
  #intro span {
    top: 8%;
    left: 45%; } }
/*---------Thành tựu----------*/
#our-achiev {
  position: relative;
  margin-top: 80px;
  text-align: center;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #our-achiev hr {
    width: 50%;
    border-top: 2px solid #e31e24; }
  #our-achiev .content {
    background-color: black;
    opacity: 0.8; }
    #our-achiev .content h2 {
      text-transform: uppercase;
      color: #153a67;
      font-size: 40px;
      font-family: RobotoCondensed-Bold;
      color: white !important;
      padding-top: 58px; }
    #our-achiev .content p {
      font-size: 15px;
      font-family: Roboto-Light;
      color: white; }
    #our-achiev .content .number {
      display: flex; }
      #our-achiev .content .number p {
        margin-top: 95px;
        margin-left: 20px; }

/*---------Đội ngũ----------*/
#team-teacher {
  padding-bottom: 40px;
  position: relative; }
  #team-teacher h2 {
    text-align: center;
    padding-top: 60px;
    text-transform: uppercase;
    color: #153a67;
    font-size: 40px;
    font-family: RobotoCondensed-Bold; }
  #team-teacher hr {
    margin: 3px auto;
    border-bottom: 2px solid #c4c4c4; }
  #team-teacher span {
    padding: 7px;
    font-size: 20px;
    position: absolute;
    color: #c4c4c4;
    background: white;
    left: 49%;
    top: 16%; }
  #team-teacher .slide-info {
    display: flex;
    margin: 40px auto; }
    #team-teacher .slide-info .info-content {
      position: absolute;
      top: 79%;
      border-top: 3px solid;
      background: #f5f5f5;
      padding: 10px 70px 0 15px; }
  #team-teacher .info-person {
    position: relative; }
  #team-teacher .info-content__hover {
    display: none; }
    #team-teacher .info-content__hover h5 {
      font-size: 15px;
      font-family: Roboto-Light;
      color: white; }
    #team-teacher .info-content__hover p.color {
      color: #3f6da6;
      font-size: 12px;
      font-family: Roboto-Light; }
    #team-teacher .info-content__hover p {
      font-size: 14px;
      font-family: Roboto-Light;
      color: white; }
  #team-teacher .info-content h5 {
    white-space: nowrap;
    font-size: 15px;
    font-family: Roboto-Bold; }
  #team-teacher .info-content p {
    font-size: 14px;
    font-family: Roboto-Light;
    color: #b4b4b4;
    padding-left: 0; }
  #team-teacher .info-person:hover .info-content__hover {
    display: block;
    position: absolute;
    top: 49%;
    background: #203c6b;
    color: #fff;
    opacity: 0.9;
    padding: 10px;
    width: 241px; }
  #team-teacher .info-person:hover .info-content {
    display: none; }
  #team-teacher .slick-dots {
    bottom: -38px !important; }
    #team-teacher .slick-dots li button:before {
      font-size: 30px !important;
      color: #b4b4b4 !important;
      content: '' !important;
      background: #b4b4b4; }
    #team-teacher .slick-dots li.slick-active button:before {
      content: '';
      background: #e31e24;
      color: #e31e24 !important; }

@media only screen and (max-width: 760px) {
  #team-teacher span {
    left: 45%;
    top: 22%; } }
@media only screen and (min-width: 760px) {
  #team-teacher .slide-info {
    width: 1170px; } }
/*------Tin tức------*/
#news__foot {
  position: relative;
  margin-bottom: 20px; }
  #news__foot h2 {
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #153a67;
    font-size: 40px;
    font-family: RobotoCondensed-Bold; }
  #news__foot hr {
    margin: 3px auto;
    border-bottom: 2px solid #c4c4c4; }
  #news__foot span {
    padding: 7px;
    font-size: 20px;
    position: absolute;
    color: #c4c4c4;
    background: white;
    left: 49%;
    top: 11%; }
  #news__foot img {
    padding-top: 10px;
    width: 100%; }
  #news__foot .container {
    margin-top: 30px; }
  #news__foot .news-box {
    height: 300px; }
    #news__foot .news-box:hover {
      transition: transform 3s;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      #news__foot .news-box:hover h5 {
        color: #e31e24; }
  #news__foot .content h5 {
    font-size: 16px;
    font-family: Roboto-Bold; }
  #news__foot .content p {
    font-size: 15px;
    font-family: Roboto-Light; }

@media only screen and (max-width: 760px) {
  #news__foot span {
    left: 45%;
    top: 4%; } }

/*# sourceMappingURL=css.css.map */
